@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@100..900&family=Jersey+10+Charted&family=Manrope:wght@200..800&family=Reddit+Mono:wght@200..900&display=swap');

:root {
  --font-family: "Jersey 10 Charted", sans-serif;

  --gradient-text: linear-gradient(90deg, rgba(142, 102, 77, 1) 0%, rgba(145, 129, 72, 1) 7%, rgba(112, 223, 80, 1) 17%, rgba(54, 136, 157, 1) 32%, rgba(45, 71, 163, 1) 44%, rgba(186, 102, 34, 1) 61%, rgba(64, 135, 132, 1) 81%, rgba(232, 17, 141, 1) 91%);
  --gradient--meme: linear-gradient(90deg, rgba(142, 102, 77, 1) 0%, rgba(145, 129, 72, 1) 7%, rgba(112, 223, 80, 1) 17%, rgba(54, 136, 157, 1) 32%, rgba(45, 71, 163, 1) 44%, rgba(186, 102, 34, 1) 61%, rgba(64, 135, 132, 1) 81%, rgba(232, 17, 141, 1) 91%);

}